
body {
  color: white; 
  background-color: #050404;
}
a {
  color: #f89933;
}
.main {
  background-image: url('https://i.pinimg.com/originals/86/5c/e6/865ce626f39bbed01657655503843d46.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  color: black;
}
.mainh {
  float: right;
  margin-top: 700px;
  text-align: center;
  border: solid black;
  padding: 15px 10px 5px 10px;
}
.carmenlink {
  width: 20%;
  height: 20%;
  margin-top: 20px;
}

ol {
  list-style-position: inside;
}
.left {
  text-align: left;
}
.jumbotron {
  background-color: #050404;
  color: white;
  font-weight: 200px;
  border: solid #780905;
  border-width: 5px; 
  text-align: center;
}
.card {
  background-color: #050404;
  color: white;
  border: solid #cc0000;
  margin-top: 20px;
  margin-bottom: 20px;
  float: right;
}

.nickname {
  text-align: center;
  color: #f89933;
}
.sidebar {
  width: auto;
  padding: 20px;
  float: left;
  border: solid #780905;
  border-width: 10px;
  margin-bottom: 50px;
}
.carmen {
  width: 30%;
  height: 20%;
  float: right;
  margin: auto;
  padding: 20px;
}
.carmen2 {
  width: 6%;
  height: 6%;
  float: left;
  margin-top: 190px;
  margin-right: 300px;
}
.card-title {
  text-align: center;
}
.card ol {
  text-align: center;
}
.poland {
  width: 50%;
  height: 50%;
  margin: auto;
  display: block;
  margin-top: 20px;
  margin-bottom: 50px;

}
.chicago {
  width: 30%;
  height: 5%;
}
.tree {
  margin: auto;
  width: 70%;
  height: 60%;
  display: block;
}
.palmtree {
  margin: auto;
  width: 60%;
  height: 50%;
  display: block;
  margin-bottom: 30px;
}
.watrees {
  margin: auto;
  margin-bottom: 20px;
  width: 60%;
  height: 50%;
  display: block;
}
.seattle {
  
  width: 50%;
  height: 50%;
  float: right;
  margin-left: 50px;
  margin-top: 80px;
  margin-bottom: 150px;
}
.beer {
  margin: auto;
  width: 40%;
  height: 40%;
  display: block;
  margin-bottom: 30px;
}
.rainier {
  margin: auto;
  width: 50%;
  height: 50%;
  display: block;
  margin-top: 20px;
}
.code-screen {
  margin: auto;
  width: 50%;
  height: 50%;
  display: block;
  margin-top: 30px;
  margin-bottom: 40px;
}
figcaption {
  text-align: center;
}
.fun {
  color: aquamarine;
}
.pnw {
  
}

.adventure h3 {
  font-style: italic;
  color: darkgreen;
}
.adventure h4 {
  color: seagreen;
  margin: 15px;
}
.important {
  text-align: center;
  background-color: #050404;
  color: white;
  border-width: 3px;
  border: solid #780905;
  margin: auto;
  width: 30%;
  padding: 15px; 
  margin-top: 40px;
  display: block;
}
