h1 {
  text-align: center;
}
body {
  color: white;
  background-color: mediumaquamarine;
}
ul {
  list-style-position: inside;
}
ol {
  list-style-position: inside;
}
.left {
  text-align: left;
}
.jumbotron {
  background-color: mediumaquamarine;
  color: white;
  font-weight: 200px;
  border: solid aquamarine;
  border-width: 5px;
  border-width: 3px;
  
}
.card {
  background-color: mediumaquamarine;
  color: white;
  border: solid aquamarine;
  margin-top: 20px;
  margin-bottom: 20px;
}
.center {
  text-align: center;
}
.nickname {
  text-align: center;
}
.sidebar {
  width: auto;
  padding: 20px;
  float: left;
  border: solid aquamarine;
  border-width: 10px;
  margin-bottom: 50px;
}
.carmen {
  width: 30%;
  height: 20%;
  float: right;
  margin: auto;
  padding: 20px;
}
.carmen2 {
  width: 10%;
  height: 10%;
  float: right;
  margin: auto;
  border: solid aquamarine;
  border-width: 3px;
}
.poland {
  margin: auto;
  width: 20%;
  height: 20%;
  display: block;
  margin-bottom: 40px;
}
.chicago {
  margin: auto;
  width: 50%;
  height: 5%;
  display:block;
}
.tree {
  margin: auto;
  width: 50%;
  height: 40%;
  display: block;
  margin-top: 20px;
}
.palmtree {
  margin: auto;
  width: 50%;
  height: 40%;
  display: block;
  margin-bottom: 30px;
}
.islands {
  margin: auto;
  margin-bottom: 30px;
  width: 50%;
  height: 40%;
  display: block;
}
.aloha {
  margin: auto;
  margin-bottom: 30px;
  width: 50%;
  height: 40%;
  display: block;
}
.makapuu {
  margin: auto;
  width: 50%;
  height: 40%;
  display: block;
}
.watrees {
  margin: auto;
  margin-bottom: 20px;
  width: auto;
  height: auto;
  display: block;
}
.seattle {
  margin: auto;
  width: 50%;
  height: 50%;
  display: block;
  margin-bottom: 20px;
}
.beer {
  margin: auto;
  width: 40%;
  height: 40%;
  display: block;
  margin-bottom: 30px;
}
.rainier {
  margin: auto;
  width: 50%;
  height: 50%;
  display: block;
  margin-top: 20px;
}
.code-screen {
  margin: auto;
  width: 50%;
  height: 50%;
  display: block;
  margin-top: 30px;
  margin-bottom: 40px;
}
figcaption {
  text-align: center;
}
.fun {
  color: aquamarine;
}
.adventure h3 {
  font-style: italic;
  color: darkgreen;
}
.adventure h4 {
  color: seagreen;
  margin: 15px;
}
.important {
  background-color: mediumaquamarine;
  color: white;
  border-width: 3px;
  border: solid aquamarine;
  margin: auto;
  width: 30%;
  padding: 15px; 
  margin-top: 40px;
  display: block;
}
